@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #000000;
  --secondary: rgba(8, 19, 68, 0.233);
  --tertiary: rgba(38, 42, 43, 0.6);

  /* Scrollbar for light theme */
  --scrollbar-track-light: #f1f1f1;
  --scrollbar-thumb-light: #c0a0b9;
  --scrollbar-thumb-hover-light: #9e7a8a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    /* Scrollbar for dark theme */
    --scrollbar-track-light: #333333;
    --scrollbar-thumb-light: #666666;
    --scrollbar-thumb-hover-light: #444444;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.neon-effect {
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.5);
}

.neon-effect-low {
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 1px rgba(255, 255, 255, 0.3), 0 0 2px rgba(255, 255, 255, 0.3);
}

.perspective-1000 {
  perspective: 1000px;
}

/* Global styles or Tailwind CSS config */
.text-shadow-neon {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 0 0 12px rgba(255, 255, 255, 0.6), 0 0 16px rgba(255, 255, 255, 0.4);
}

*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track-light);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-light);
  border-radius: 14px;
  border: 3px solid var(--scrollbar-track-light);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-light);
}

.image-container {
  position: relative;
  background-color: #f0f0f0;
  overflow: hidden;
}

[data-theme='dark'] .image-container {
  background-color: #1a1a1a;
}

.image-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

